<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <!-- Add any specific handler configurations if needed -->
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(static|media)/(.*)$" />
          <action type="Rewrite" url="{R:2}" />
        </rule>
        <rule name="Django App" stopProcessing="true">
          <match url="^.*$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="django_angular_proto.wsgi" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
